RewriteEngine On # Turn on the rewriting engine
RewriteRule ^category/?$ category.php [NC,L]
RewriteRule ^category/([0-9]+)/?$ category.php?id=$1 [NC,L]
RewriteRule ^item/?$ item.php [NC,L]
RewriteRule ^item/([0-9]+)/?$ item.php?id=$1 [NC,L]
RewriteRule ^auth/?$ auth.php [NC,L]
RewriteRule ^auth/([0-9]+)/?$ auth.php?id=$1 [NC,L]
RewriteRule ^changepassword/?$ changepassword.php [NC,L]
RewriteRule ^changepassword/([0-9]+)/?$ changepassword.php?id=$1 [NC,L]
RewriteRule ^signup/?$ signup.php [NC,L]
RewriteRule ^signup/([0-9]+)/?$ signup.php?id=$1 [NC,L]
RewriteRule ^user/?$ user.php [NC,L]
RewriteRule ^user/([0-9]+)/?$ user.php?id=$1 [NC,L]
RewriteRule ^order/?$ order.php [NC,L]
RewriteRule ^order/([0-9]+)/?$ order.php?id=$1 [NC,L]